<launch>
  <arg name="record" default="false" />
  <arg name="secs" default="30"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [waffle_pi]"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />


     <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
	<arg name="slam_methods" value="gmapping"/>
     </include>
       
   <node
	pkg="autonomous_exploration"
	name="obstacle_avoidance"
	type="obstacle_avoidance.py"
	output="screen"
	launch-prefix="gnome-terminal --command"
    />

</launch>